/* Hero section */
.hero__image-wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-top: 3rem;
    margin-bottom: 5rem;
    position: relative;
    z-index: 9;
}

.hero__image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    color: white;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 45%, rgba(0, 0, 0, 0.8) 100%);
}

.hero__subtext {
    text-shadow: 0px 4px 5.4px rgba(0, 0, 0, 0.5);
}

/* Explore programs section */
#exploreprogram {
    margin-bottom: 6rem;
}

/* Explore Robocek section */
#explore-robocek .col {
    padding-left: 0;
    padding-right: 0;
}

/* Gallery */
.gallery__heading {
    /* background: linear-gradient(180deg, rgba(18, 21, 23, 0.50) 0%, rgba(18, 21, 23, 0.05) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    background-image: linear-gradient(180deg, rgba(18, 21, 23, 0.5) 0%, rgba(18, 21, 23, 0.05) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 576px) {
    .gallery__heading {
        font-size: 5rem;
        letter-spacing: -0.3rem;
    }
}
@media (min-width: 576px) {
    .gallery__heading {
        font-size: 5rem;
        letter-spacing: -0.3rem;
    }
}
@media (min-width: 1200px) {
    .gallery__heading {
        font-size: 8rem;
        letter-spacing: -0.6rem;
    }
}

.gallery__image-wrapper {
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.gallery__image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.gallery__image-wrapper img:hover {
    transform: scale(1.2);
}