* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.gradient-text {
  background: linear-gradient(90deg, #78FF7D 0%, #FCFF67 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}